<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.text_field :wistia, placeholder: "Link", length: 20 %>
  </div>

  <div class="input-field">
    <%= form.text_field :title, placeholder: "Title", length: 32  %>
  </div>

  <div class="input-field">
    <%= form.text_area :description, placeholder: "Description", length: 200  %>
  </div>

  <button class="btn waves-effect waves-teal btn" name="action" type="submit">Submit</button>

  <%= link_to 'Back', videos_path, class: "btn waves-effect waves-default brown lighten-1" %>
<% end %>
