<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<%= link_to new_video_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons">add</i>
<% end %>

<ul class="collapsible">
  <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
        <div class="col s12">
          <div class="col s3">
            <p>
              <i class="material-icons">library_books</i>
              <%= video.title.present? ? video.title : "To be updating title..." %>
            </p>
          </div>
          <div class="col s3">
            <p><%= link_to video.wistia, video %></p>
          </div>
          <div class="col s6">
            <p class="right">
              <%= link_to video_path(video), class: "btn-floating btn-large waves-effect waves-yellow" do %>
                <i class="material-icons">edit</i>
              <% end %>

              <%= link_to video, method: :delete, class: "btn-floating btn-large waves-effect waves-light red", data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">event_busy</i>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="collapsible-body">
        <p><%= video.description %></p>
      </div>
    </li>
  <% end %>
</ul>

<ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
