<nav>
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo m-5055"><%= image_tag "logo_header.png", width: 50, height: 50 %></a>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to root_path, nil do %>
          <i class="left material-icons">ondemand_video</i>
        <% end %>
      </li>
      <li>
        <%= link_to pages_about_path do %>
          <i class="left material-icons">perm_identity</i> About
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <%= link_to root_path, nil do %>
      <i class="left material-icons">ondemand_video</i> Video
    <% end %>
  </li>
  <li>
    <%= link_to root_path do %>
      <i class="left material-icons">perm_identity</i> About
    <% end %>
  </li>
</ul>
